{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/lib/bootstrap/css/bootstrap.min.css"/>
    <title>IGB App Store - 404 Not Found</title>
    <style type="text/css">
      body {
        background-color: #353535;
      }
      .container {
        margin-top: 15em;
      }
      .hero-unit {
        margin-top: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <a href="{% url 'default-page' %}"><img src="{% get_static_prefix %}common/img/logo_large.png"></a>
      </div>
      <div class="row">
        <div class="hero-unit">
          <h2>404 Not Found <small>¡Qué lástima! Quelle dommage ! Che peccato!</small></h2>
        </div>
      </div>
    </div>
  </body>
</html>
