{% extends "base.html" %}

{% block title %} - About{% endblock %}
{% block content %}
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>About</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h2>Cite us!</h2>
			Was the IGB App Store helpful in your work?
			<a href="http://www.ncbi.nlm.nih.gov/pubmed/23595664" target="_blank" style="font-weight: bold;">
				♥ Cite us!
			</a>
			Citations help us secure funding in the future.
			<blockquote style="margin-left: 3em; margin-top: 2em;">
				Lotia S, Montojo J, Dong Y, Bader GD, Pico AR. Cytoscape app store. Bioinformatics. 2013 May 15;29(10):1350-1.
			</blockquote>
		</div>
	</div>

	<h2>Our Worldwide Community of App Developers</h2>

	<div class="row">
		<div class="span12">
			IGB provides a solid platform for network
			visualization and analysis, but it’s really all about
			the apps. Researchers and developers from institutions
			around the world have built on top of Cytoscape to add
			new functionality and tailored solutions for a broad
			range of network-related projects. This site is dedicated
			to serving our rapidly growing app developer community.
			We want each app to have its own online presence as a
			hub of activity. And we want each developer to be able
			to distribute, promote and support their apps for their
			target audience. If you have ideas about how to make
			this site more effective, 
			<a href="{% url 'contact' %}">let us know</a>!
		</div>
	</div>

        <h2>IGB Consortium</h2>

        <div class="row">
                <div class="span12">
                        Cytoscape was first released in 2002 and is now maintained
                        by the Cytoscape Consortium, consisting of a board of
                        directors and over a dozen developers from an international
                        set of member institutions. Cytoscape is committed to remaining
                        open source and freely available for the research community.
                        Visit <a href="http://cytoscape.org">cytoscape.org</a>
                        for more information.
                </div>
        </div>

        <br>
        <h2>National Resource for Network Biology</h2>

        <div class="row">
                <div class="span12">
                        NRNB was launched in 2010 as a national resource supporting network
                        biology researchers and tool developers. Cytoscape is the flagship
                        resource supported by NRNB and this Cytoscape App Store, in particular,
                        was an NRNB-driven project. This site is thus supported by the NRNB
                        grant from <a href="http://www.nigms.nih.gov/About/Overview/bbcb.htm">NIH/NIGMS/BBCB</a>,
                        P41 GM103504. Visit <a href="http://nrnb.org">nrnb.org</a> for more information.
                </div>
        </div>

{% endblock %}
